* {
    user-select: none;
}

html {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

/*@font-face {*/
/*    font-family: "LXGWWenKai";*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: local(""),*/
/*    url("assets/fonts/LXGWWenKai-Regular.ttf") format("truetype");*/
/*}*/

/*@font-face {*/
/*    font-family: "SourceCodePro";*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: local(""),*/
/*    url("assets/fonts/SourceCodePro-Regular.otf") format("opentype");*/
/*}*/

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.notice {
    width: 100%;
    position: fixed;
    top: 30%;
    line-height: 2;
}

.paste-img {
    width: 100%;
    height: 100%
}

.draggable {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.5s linear;
}

.draggable:hover {
    background: rgba(35, 35, 35, 0.5);
    transition: all 0.5s linear;
}

.paste-text {
    margin: 30px auto 0;
    width: 90%;
    height: 320px;
    overflow: scroll;
    line-height: 1.5;
}
